<% if @socls.present? %>
  <table width="80%">
  <% @socls.each do |socl| %>
    <tr>
      <td><%= image_tag socl.image, :size=>"100x100" %></td>
      <%= content_tag :td, socl.name  %>
      <% if Time.zone.now.prev_month < socl.uploadTime[0..9].to_date %>
        <%= content_tag :td, socl.title, :class=>"bg_fuchsia" %>
      <% else %>
        <%= content_tag :td, socl.title %>
      <% end %>
      <%= content_tag :td, socl.uploadTime %>
      <%= content_tag :td, socl.plays %>
      <td><%= link_to socl.link %></td>
      <%= content_tag :td, socl.postedTime %>
    </tr>
  <% end %>
  </table>
<% end %>

