<h1>SoundCloud Tracks Register</h1>
<div class='content'>
  <div id="search-box">
    <h3>SoundCloud Tracks Register</h3>
    <%= form_tag('/', method: :get) do %>
        <%= text_field_tag :socl, "",  id: "socl_search", name: "keyword", placeholder: "artist url's name", style: "width: 200px;"%><button title="検索" type="submit">検索</button>
    <% end %>

   <h3>SoundCloud Tracks Search</h3>
    <%= form_tag('search_result/result', method: :get) do %>
      <%= text_field_tag :result, "",  id: "es_search", name: "keyword", placeholder: "Let's Search", style: "width: 200px;"%><button title="検索" type="submit">検索</button>
    <% end %>
  </div>
  <h2>Regist Result</h2>
  <!-- <%= Time.zone.now.prev_month %> -->
  <div id='socl_list'>
    <!-- コメントアウトしておく -->
   <!-- <%= render partial: 'socl_list' %> -->
   <%= render partial: 'socl_list' %> 
  </div>
</div>
