<div class='content'>
  <div id="search-box">
    <%= form_tag('/', method: :get) do %>
        <%= text_field_tag :socl, "",  id: "socl_search", name: "keyword", placeholder: "使い方 : /api/ページ数(0)/アーティスト名/セクション", style: "width: 200px;"%><button title="検索" type="submit">検索</button>
    <% end %>
  </div>
  <h2>検索結果</h2>
  <!-- <%= Time.zone.now.prev_month %> -->
  <div id='socl_list'>
    <!-- コメントアウトしておく -->
   <!-- <%= render partial: 'socl_list' %> -->
   <%= render partial: 'socl_list' %> 
  </div>
</div>
